# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
override.tf
override.tf.json
.terraform.lock.hcl

# Azure CLI
.azure/

# OS
.DS_Store
Thumbs.db
*.zip
/Data
/Ednet
/Ednet_2
/OULAD
/SED
/large-data
/.venv
*.pyc
*.jar
*.parquet
*.crc
*.pdf
*.md
!README.md
!docs/*.md
full_data_manifest.json
*.ipynb
/RecSys-Output
/infra/staging/
small-data/**/*.csv
small-data/**/*.json
**/_SUCCESS
infra/tfplan
