# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
override.tf
override.tf.json
.terraform.lock.hcl

# Azure CLI
.azure/

# OS
.DS_Store
Thumbs.db
*.zip
/Data
/Ednet
/Ednet_2
/OULAD
/SED
/large-data/*
!/large-data/Question_Bank.json
/.venv
*.pyc
*.jar
*.parquet
*.crc
*.pdf
*.md
!README.md
!docs/*.md
full_data_manifest.json
*.ipynb
/RecSys-Output
/infra/staging/
small-data/**/*.csv
small-data/**/*.json
!small-data/Lecture_Bank.json
**/_SUCCESS
infra/tfplan
mlflow.db
mlflow.db-journal

latex/

# LaTeX auxiliary files
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.out

# Streamlit examples
streamlit_example/

# Allow READMEs
!benchmarks/README.md
!frontend-demo/GUIDE.md
!small-data/Data/**/*.md